
# ## DO NOT ADD A PORT NUMBER TO THIS FILE. THIS FILE IS FOR TESTS ONLY. PORT NUMBER IN THIS FILE IS NOT USED AND SHOULD BE REMOVED TO AVOID CONFLICTS WITH JEST


# ## Rename file to '.tests.env'


# ## ADD YOUR TEST ENVIRONMENT VARIABLES BELOW. 
# DIRECT_URL=
# DATABASE_URL=
# SUPABASE_URL=
# SUPABASE_ANON_KEY=
# SUPABASE_PUBLISHABLE_KEY=
# SUPABASE_SERVICE_ROLE_KEY=


# ## ADD A VALID USER CREDENTIALS TO THIS FILE FOR TESTING PURPOSES. THESE CREDENTIALS WILL BE USED IN THE TESTS TO AUTHENTICATE AND PERFORM ACTIONS ON THE DATABASE. MAKE SURE TO USE A VALID EMAIL AND PASSWORD THAT EXIST IN YOUR TEST DATABASE.
# # TEST_USER_EMAIL=usera@whisk.test
# # TEST_USER_PASSWORD=password123